<div class="flex min-h-screen bg-gray-100 items-center justify-center">
  <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold mb-6 text-gray-800 text-center">
      Reset Your Password
    </h2>
    <p class="mb-6 text-gray-600 text-center">
      Enter the OTP sent to your email and your new password.
    </p>

    <!-- Reset Password Form -->
    <form (ngSubmit)="onSubmit()">
      <!-- OTP Field -->
      <div class="mb-4">
        <label for="otp" class="block text-gray-700">OTP</label>
        <input
          type="text"
          id="otp"
          name="otp"
          [(ngModel)]="otp"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-green-300 focus:outline-none"
          required
        />
      </div>

      <!-- New Password Field -->
      <div class="mb-4">
        <label for="newPassword" class="block text-gray-700"
          >New Password</label
        >
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-green-300 focus:outline-none"
          required
        />
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="loading"
        class="w-full px-4 py-2 font-semibold text-white bg-green-600 rounded-lg hover:bg-green-500 focus:outline-none focus:ring focus:ring-green-300"
      >
        Reset Password
      </button>

      <!-- Success and Error Messages -->
      @if(successMessage){
      <div class="mt-4 text-green-500 text-center">
        {{ successMessage }}
      </div>
      }@else{
      <div class="mt-4 text-red-500 text-center">
        {{ errorMessage }}
      </div>
      }
    </form>
  </div>
</div>
